<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>

<body>
  <%-include('./partials/navigation')%>
  <section id="hero">
    <%movieItem.forEach(movieItem=>{%>
    <a href="/item/<%=movieItem.id%>" class="hero-card">
      <img src="https://image.tmdb.org/t/p/w500<%=movieItem.poster_path%>" alt="" />

      <h3><%=movieItem.name%></h3>
      <h3><%=movieItem.title%></h3>



    </a>
    <% }) %>
  </section>
</body>

</html>